* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */

}

body {
    font-family: 'poppins', sans-serif;
    font-weight: 300;


}

:root {
    --primary-color: #eef0f3;
    --primary-color-light: #ced0d3;
    --primary-color-extra-light: #d7dae2;
    --secondary-color: #ff4545;

    --secondary-color-dark: #ec1818;

    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 100%;



}
/* navvbarrrr */
#barrss{
    display: none;
}
.navicon input {
    height: 30px;
    width: 176px;
    cursor: pointer;
    position: relative;
    top: 1.7em;
    left: -2em;
    opacity: 0;
}

.popup1 {
    position: absolute;
    top: -24px;
    left: -13em;
    width: 265px;
    height: 456px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    color: white;
    border: 1px solid black;
    z-index: 10;
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transition: .4s;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.096);
}

.popup1 .sear1 {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 87px;
}

.popup1 p {

    color: black;
    position: absolute;
    top: 54px;

}


.navicon input:checked~.popup1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav-items ul li {
    list-style: none;
    font-size: 25px;

}

.nav-items ul li a {
    text-decoration: none;
    color: black;
}

.nav-items ul {
    color: black;
    display: flex;
    margin-top: 5em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-left: 5em;
}
label {
font-size: 37px;
color: #5a5959;
display: flex;
justify-content: center;
position: absolute;
top: 19px;
right: 1em;
align-items: center;
border-radius: 5px;
cursor: pointer;
}

header {
    background-color: #4561ff;
}

#sectionhead {
    background-color: rgb(55, 81, 126);
}

.nav__attachment .log1 {
    color: var(--white);
    margin-left: 63px;
    font-size: 25px;
    margin-right: 290px;
    font-weight: 600;
    opacity: 0;
}






.section__header {

    color: var(--white);

}

.section__subheader {
    color: var(--text-light);
}

.btn {
    padding: 0.5rem 1.5rem;
    outline: none;
    border: 2.5px solid rgb(10, 143, 167);
    font-size: 0.9rem;
    color: var(--white);
    background-color: rgb(55, 81, 126);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    right: 9em;
    top: 2em;
}

.btn1 {
    padding: 0.7rem 2rem;
    outline: none;
    border: 2.5px solid rgb(72, 203, 226);
    font-size: 1rem;
    color: var(--white);
    background-color: rgb(72, 203, 226);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;

}

.buttons {
    display: flex;
    gap: 2em;
}

.btn-watch-video {
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    color: #fff;
    line-height: 1;

}
div#barrss {
    position: absolute;
    top: 1.5em;
    right: -9em;
    /* display: none; */
}

#play {
    font-size: 30px;
}



.btn1:hover {
    background-color: #4561ff;
    border: 2.5px solid #4561ff;

}

.btn:hover {
    background-color: #4561ff;

}
img#headerimage {
    width: 490px;
    height: 490px;
}


/* the logo Arsha */
.log {
    text-decoration: none;
    color: var(--white);
    font-size: 25px;
    font-weight: 600;
   margin: 0px 100px 0px 100px;
}

a {
    text-decoration: none;
}



nav {

    padding: 2rem 1rem;


}

.nav__attachment {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(55, 81, 126);

}

/* .nav__attachment:hover{
    scroll-behavior:unset;
    background-color:rgb(10, 36, 82) ;
} */

.nav__logo {
    max-width: 100vw;


}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--white);
    font-size: 15px;
}

.link a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: #5f74ee;
    transition: 0.3s;
}

.link a:hover::after {
    width: 50%;
}

.link a:hover {
    color: rgb(160, 152, 152);

}

.header__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    /* height: 550px; */
}

.header__content {
    width: 550px;
}



.header__content h2 {
    margin-bottom: -2rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 6rem;
    color: var(--white);

}


#new {
    margin-bottom: -15px;
}



.header__content p {
    margin-bottom: 2rem;
    color: var(--text-light);
    font-size: 20px;
    font-weight: 400;


}

.header__image {
    position: relative;
    animation: moveUpDown 3s linear infinite alternate;
    /* Adjust animation duration (5s) as needed */
    transition: all;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(3%);
        /* Move up */
    }

    100% {
        transform: translateY(7%);
        /* Move down */
    }
}



/* ----------logo image---- */
.imglogo {

    max-width: 82px;
    height: 82px;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
   

}

.row__imageslogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 22px;
    gap: 10%;
    width: 100%;
    
}



.container {
    background-color: rgb(236, 231, 231);
    /* margin-top: -40px; */
    height: 160px;

}

.imglogo:hover {
    filter: none;
    transform: scale(1.1);
}

/* about us section css */
.section-title {
    text-align: center;
    letter-spacing: 2px;
}

.section-title h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
    margin-top: 43px;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    left: 16.6em;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.about {
    position: relative;
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 4rem;
    /* height: 450px; */

}

.row_content {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin-bottom: 30px;
}

.content {
    width: 50%;
    /* Each child takes up close to half the container's width */
    padding: 10px;
    /* Adds some spacing inside the content blocks */

}

.left_content p {
    color: rgb(82, 79, 79);
    padding: 4px 20px;
    font-weight: 400;
}

.right_content p {
    color: rgb(80, 77, 77);
    padding: 4px 1px;
    font-weight: 400;

}

.left_content li {

    color: rgb(88, 86, 86);
    font-weight: 400;
    padding: 5px 20px;
}

.left_content li {
    list-style: none;
    padding-left: 2rem;
}


#doublecheck {
    color: #4561ff;
}

/*------------ why us section------- */

.container3 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #f3f5fa;

}

.content1 {

    padding: 10px;

}

#rightimage {
    height: 500px;
    width: 500px;
    /* margin: 33px; */
}

.leftcontent {
   width: 50% ;
    margin-top: 80px;

}

.leftcontent h2 {
    color: #37517e;
    font-size: 30px;
}

.leftcontent h4 {
    font-size: 13px;
    color: #37517e;
    font-weight: 400;
}


#accordian {
    margin: 100px auto;

}

#accordian li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

#accordian li label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    color: #37517e;
}

#accordian li label:hover {
    color: rgb(117, 186, 233);
}

#accordian {
    margin-top: 20px;
}

#accordian li label span {
    transform: rotate(90deg);
    font-size: 20px;
    font-weight: 700;
    color: black;
}

#accordian label+input[type="radio"] {
    display: none;
}

#accordian .content1 {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5;
}

#accordian label+input[type="radio"]:checked+.content1 {
    max-height: 100px;
}

/* -----------barchart section css-------------- */
.container4 {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    flex-wrap: wrap;
}



.contentbar {
    width: 700px;
    /* Each child takes up close to half the container's width */
    /* padding: 20px;
    Adds some spacing inside the content blocks */
    /* box-sizing: border-box; */
    /* Includes padding and border in the element's total width and height */
}

#leftimg {
    margin-left: 40px;
    width: 490px;
    height: 490px;
}

.contentbar h2 {
    font-size: 30px;
    color: #4668a2;
}

.contentbar h4 {
    font-size: 15px;
    font-weight: 400;
    color: #4668a2;

}


.skill {
    width: 500px;
    margin: -27px -26px;
    color: #4668a2;
    padding: 20px;
    text-transform: uppercase;
    /* box-shadow: 0 14px 28px rgba(59, 58, 58, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */

}

.skill li {
    margin: 20px 0;
    padding: 10px;
    list-style: none;


}

.bar {
    background: #e9ebee;
    display: block;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.bar span {
    height: 15px;
    float: left;
    background: linear-gradient(135deg, rgb(57, 76, 138)0%, rgb(57, 76, 138)100%);
}

.html {
    width: 100%;
    animation: html 3s;
}

.css {
    width: 90%;
    animation: css 3s;
}

.javascript {
    width: 75%;
    animation: javascript 3s;
}

.photoshop {
    width: 55%;
    animation: photoshop 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes photoshop {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

/* -------------SERVICE------------Section-------- */
.service {
    background-color: #f3f5fa;


}


.service h2 {
    text-align: center;
    font-size: 30px;
    color: #37517e;
    margin-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;

}

.service p {
    text-align: center;
    color: #37517e;
    font-weight: 600;

}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.service .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 3px;
    transition: all ease-in-out 0.4s;
    background: #fff;
    height: 300px;
    width: 250px;
    margin-bottom: 80px;


}

.service .icon-box .icon {
    margin-bottom: 10px;
}

.service .icon-box .icon i {
    color: #3aaada;
    font-size: 36px;
    transition: 0.3s;

    margin-top: 30px;
    margin-right: 30px;
    margin-left: 40px;

}

.service .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
}

.service .icon-box h4 a {
    color: #37517e;
    transition: ease-in-out 0.3s;
}

.service .icon-box p {
    /* line-height: 24px; */
    font-size: 14px;
    margin-bottom: 0;

}

.service .icon-box:hover {
    transform: translateY(-10px);
}

.service .icon-box:hover h4 a {
    color: #47b2e4;
}

.row {

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding-top: 50px;
    flex-wrap: wrap;
}

.icon-box {
    gap: 2rem;
}

/* ---------------call to action section---------- */
.call {
    background-color: #0f1d36;
    color: white;
    height: 210px;
    position: relative;


}


.headone {
    padding: 3em;
}

.headone p {

    font-size: 17px;


}

#cta-btn {
    padding: 0.7rem 1rem;
    outline: none;
    border: 2.5px solid white;
    font-size: 15px;
    color: var(--white);
    background-color: #0f1d36;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 6em;
    right: 9em;
    font-weight: 600;
}

#cta-btn:hover {
    color: #0f1d36;
    background: #f2f3f3;
    border: 3px solid #0f1d36;
}



/* --------portfolio section-------- */
.portfolio p {


    text-align: center;
    font-weight: 400;
    color: #37517e;
    padding-left: 50px;
    padding-right: 50px;
}

/* btn sectiion */

.portfolio #portfolio-btn li {
    cursor: pointer;
    display: inline-block;
    margin: 20px 4px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif
}

#portfolio-btn {
    /* margin: 0px 500px; */
    text-align: center;
}

.portfolio #portfolio-btn li:hover {
    background: #47b2e4;
    color: #fff;
}

.portfolio #portfolio-btn li.btn-active {
    background: #47b2e4;
    color: #fff;
}

/* image section */
.imgc {
    border: 2px solid #495e81;

}

.container5 {
    width: 90%;
    margin: auto;
}

.container5 .portbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container5 .portbox .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;



}

.container5 .portbox .dream img {
    position: relative;
    width: 96%;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;


}

.portbox .dream img:hover {
    transform: scale(1.1);
}



/*---------------team section--------- */
.team {
    background-color: #edf0f8;
}

.team .container6 #ppp {
    text-align: center;
    color: #0f1d36;
    font-weight: 400;
    margin-left: 40px;
    margin-right: 10px;
    font-size: 16px;
}

.row1 {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding-left: 200px; */
    /* padding-right: 200px; */
    /* padding-top: 50px; */


}

.team .team-box {
    box-shadow: 0px 0 25px 0 rgb(168, 167, 167);
    padding: 5px 1px;
    transition: all ease-in-out 0.4s;
    background: #fff;
    height: 230px;
    width: 440px;
    padding: 20px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}

.team-member {
    padding: 12px 22px;
}

.team-box .team-member p {
    color: #37517e;
    font-weight: 600;
    font-size: 10px;


}

.team .team-box h4 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 24px;
    padding-top: 20px;
    color: #37517e;
    transition: ease-in-out 0.6s;
}

.teamhead {
    margin-top: 50px;
}

.team .team-box:hover {
    transform: translateY(-15px);
}

.team-box h5 {
    font-weight: 500;
    margin-bottom: 15px;
    text-decoration: underline;
    padding-top: 20px;
    color: #37517e;
    transition: ease-in-out 0.6s;
}

.team-box .teamimg {
    border-radius: 100px;
    height: 150px;
    width: 150px;
   

}

/* pricing section */
.pricing p {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    color: #37517e;
    font-weight: 400;

}

.container7 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin-left: 6rem; */
    /* margin-right: 6rem; */
    margin-top: 3rem;
    margin-bottom: 5rem;

}

.container7 .pricing-box li {
    list-style: none;
    margin-top: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.container7 .pricing-box {
    box-shadow: 0px 0 25px 0 rgb(214, 213, 213);
    background-color: white;
    margin: 2rem;
    /* justify-content: space-between; */

    /* height: 700px; */
    /* width: 400px; */


}

#doublecheck1 {
    color: green;
    margin-right: 5px;
}

.pricing-box h3 {
    margin: 4em 0 0 1.5em;
    color: #37517e;
    font-weight: 600;
    font-size: 20px;
}

.pricing-box h4 sup {
    font-weight: 500;
    font-size: 15px;
    color: #37517e;
}

.pricing-box h4 {
    font-weight: 500;
    font-size: 36px;
    margin: 0.5em 0 0.5em 1.5em;
    color: #37517e;

}

.pricing-box h2 {
    font-weight: 500;
    font-size: 17px;
    margin: 0 0 0 1.5em;
    color: #3aaada;

}

#btn-pricing a {
    text-decoration: none;
    font-weight: 600;
    border-radius: 10em;
    color: #3aaada;
    padding: 1em;
}

#btn-pricing {
    color: white;
    background-color: white;
    height: 3em;
    border: 1px solid #3aaada;
    margin: 3.5em;
    border-radius: 10em;

}

#btn-pricing a:hover {
    color: white;
    background-color: #3aaada;
}

/* hight pricing */
.btn-highlight a {
    text-decoration: none;
    border-radius: 10em;
    color: white;
    padding: 1em;
    font-weight: 600;
}

.btn-highlight {

    background-color: #3aaada;
    height: 3em;
    border: 1px solid #3aaada;
    margin: 3.5em;
    border-radius: 10em;

}

.btn-highlight a:hover {
    color: white;
    background-color: #1aa1db;
}

.highlight {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top: 5px solid #1aa1db;
}

.section-title h3 {
    padding-top: 25px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
    margin-top: 43px;
}

.section-title h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
}

.section-title h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}


/* faq section */
.faq-section {
    background-color: #edf0f8;
    height: 900px;
}

#accordian1 {
    margin: 100px auto;
    width: 600px;


}

#accordian1 li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0px 0 25px 0 rgb(214, 213, 213);
    padding: 10px;
    border-radius: 4px;
}

#accordian1 li label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #37517e;
}

#accordian1 li label span {
    transform: rotate(90deg);
    font-size: 20px;
    font-weight: 400;
    color: black;
}

#accordian1 label+input[type="radio"] {
    display: none;
}

#accordian1 .faqcontent {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5;
}

#accordian1 label+input[type="radio"]:checked+.faqcontent {
    max-height: 300px;
}

.faq-section p {
    font-weight: 300;
}

.faq-section #part {
    color: #0f1d36;
    text-align: center;
    font-weight: 500;
    margin: 1em 2em -2em 2em;
}

#accordian1 li label:hover {
    color: rgb(117, 186, 233);
}

#accordian1 #questionicon {
    margin-right: -25em;
}


/* Start of contact section */


.contact #contact-p {
    font-weight: 300;
    color: #37517e;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3em;
    text-align: center;

}

.container8 {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4em;
}

.map {
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 0 25px 0 rgb(214, 213, 213);
    width: 450px;
    border-top: 4px solid #3aaada;
    border-bottom: 4px solid #3aaada;




}

.info h4 {
    color: #37517e;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
    padding-left: 53px;
}

.info i {
    color: #37517e;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: 56px;


}

.info p {
    color: #3aaada;
    padding-left: 53px;

}

.contact-form {
    display: flex;
    /* align-items: center; */

    padding: 25px;
    background-color: white;
    box-shadow: 0px 0 25px 0 rgb(214, 213, 213);
    width: 570px;
    border-top: 4px solid #3aaada;
    border-bottom: 4px solid #3aaada;

}

.box1 {
    height: 52px;
    padding: 5px;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 5px;
    margin-bottom: 15px;
    float: left;
    display: flex;
    width: 250px;
    font-style: "poppins", sans-serif;


}

.box2 {
    height: 52px;
    border: 1px solid rgb(136, 136, 136);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    float: left;
    margin-left: 14px;
    margin-right: 0px;
    display: flex;
    width: 250px;
    font-style: "poppins", sans-serif;


}


.box {
    width: 515px;
    height: 52px;
    float: left;
    border: 1px solid rgb(139, 138, 138);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px;
    font-style: "poppins", sans-serif;


}

.box3 {
    width: 515px;
    height: 252px;
    float: left;
    border: 1px solid rgb(121, 119, 119);
    border-radius: 5px;
    padding: 5px;
    font-style: "poppins", sans-serif;



}


#form-btn {
    padding: 0.7rem 2rem;
    outline: none;
    border: 2.5px solid rgb(72, 203, 226);
    font-size: 1rem;
    color: var(--white);
    background-color: rgb(72, 203, 226);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;

}

#form-btn:hover {
    background-color: rgb(0, 172, 202);
}

/* start of subscription */
.subscription {
    background-color: #edf0f8;
}
.container9{
    height: 200px;
}
.topic h1 {
    color: #37517e;
    text-align: center;
    letter-spacing: 1.5px;
    margin-top: 50px;
    font-size: 28px;
    font-weight: 700;
    padding-top: 30px;

}

.container9 p {
    color: #37517e;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    margin-bottom: 30px;

}

.container9 input {
    display: flex;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #37517e;
}

.container9 .subs-btn {
    padding: 10px 2rem;
    outline: none;
    border: 1.5px solid rgb(72, 203, 226);
    font-size: 1rem;
    color: var(--white);
    background-color: rgb(72, 203, 226);
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
    right: 26em;
    /* margin: 0 auto; */
    bottom: 0px;
}
.downnn {
    display: flex;
    justify-content: center;
    position: relative;
}

.subs-btn:hover {
    border: 2.5px solid #5b83f1;
    background-color: #5b83f1;

}

/* footer start */
.footer {
    /* height: 280px; */
}


.row10 {
    gap: 4em;
    display: flex;
    padding: 10px 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}



.container10 {
    margin: 3em 7em 0px 7em;
}

.row10 ul li a {

    text-decoration: none;
    color: black;
    font-size: 14px;

}

.row10 ul li a span {
    color: #3aaada;
    font-weight: 500;
    font-size: 20px;
}

.row10 ul li {
    list-style: none;
    padding-bottom: 5px;
}

.aboutweb p {
    font-size: 15px;

}

.aboutweb p strong {
    color: #37517e;
    font-size: 18px;

}

.aboutweb h3 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 5px;
    color: #37517e;
}

.row10 ul h4 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    color: #37517e;
}

.social-content h4 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    color: #37517e;
}

.social-links a i {
    color: #3aaada;
    font-size: 30px;
    margin: 6px;
}

/* footer-bottom */
.footer-botom {
    background-color: #37517e;
    height: 70px;

}

.container11 {
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin-top: 2em;
    margin-left: 4em;
    color: #ced0d3;

}

.credits {
    margin-top: 2em;
    color: #ced0d3;
    margin-right: 4em;
    /* font-size: 10px; */

}

.credits a {
    text-decoration: none;
    color: #3aaada;

}